body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(226, 213, 25), rgb(231, 101, 15));
    background-color: orange;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font: weight 700px; ;
}
.dream-area{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    background-color: white;
    box-shadow: 10px 10px 40px gray; 
    border-radius: 10px;
    height: 60%;
}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    overflow:Scroll;
    border-left: 7px solid;
    border-image: linear-gradient(rgb(43, 28, 177), rgb(235, 15, 15));
    border-image-slice: 1;
}
#baby-web{
    overflow:Scroll;
    border-left: 7px solid;
    border-image: linear-gradient(rgb(207, 109, 16), rgb(11, 194, 81));
    border-image-slice: 1;
}
.middle{
    margin-top: 100px;
    margin-left: 5px;
}
footer p{
    text-align: center;
    font-size: 12pxS;
}
.footer-area{
    background-color: rgb(101, 200, 230);
    box-shadow: 10px 10px 40px gray; 
    border-radius: 10px;
    height: 60%;
    border-image: linear-gradient(rgb(43, 28, 177), rgb(235, 15, 15));
    border-image-slice: 1;
    
}





